@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9f9f9f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #474747;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: #818181;
}

#hideBottomTableRow .css-14xqb14 .MuiDataGrid-footerContainer{
  display: none;

}

#form{
  display: flex;
  flex-direction: column;
  width:100%;
  margin:0px auto;
  align-items:center;
}

label.css-1sg7g1a-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color:white;
  font-weight: bold;
  font-size:16px;
}

#create-user-form{
  display:grid;
  /*Make this a 2*3 grid*/
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto;
  align-items:center;
  justify-content: center;
}


.helloWorld{
  padding-left:20px;
}
